


body, div, p, canvas, h1, h2 {
  margin: 0;
  padding: 0;
}


body {
  font-family: Helvetica, Arial, sans-serif;
}

div {
  overflow: hidden;
  border: 1px solid #440000;
  padding: 20px;
}

.container {
  width:90%;
  margin:20px auto;
}

.sidebar {
  float: left;
  width: 28%;
}

.main {
  float: right;
  width: 62%;
}

.pageNav .tab {
  text-align: center;
  max-width: 200px;
  display: inline;
}

.passport .header h2 {
  font-size: 100%;
}